<div class="products--grid">
  <app-product
    (addedProduct)="onAddedProductToCart($event)"
    (showProductDetail)="onShowProductDetail($event)"
    [product]="product"
    *ngFor="let product of products"
    >
  </app-product>
  <button (click)="loadMore()">Load more</button>
</div>
<div class="product-detail" [class.active]="showProductDetail">
  <div *ngIf="productChoosen">
    <button (click)="toggleProductDetail()">Close</button>
    <h1>{{ productChoosen.title }}</h1>
    <app-img [img]="productChoosen.images[0]"></app-img>
    <p>{{ productChoosen.description }}</p>
  </div>
</div>
