

<h1>NgModel</h1>
<p>Nombre {{person.name}}</p>
<!-- #nameInput="ngModel" >> Variable de salida -->
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>

<p>Edad {{person.age}}</p>
<!-- #nameInput="ngModel" >> Variable de salida -->
<input type="number" max="50" min="2" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Valid: {{ ageInput.valid }}</p>

<hr>

<h1>Eventos</h1>
<button [disabled]="buttonDisable">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onBoxScroll($event)">
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia obcaecati at voluptate eligendi reprehenderit eveniet vero, impedit, fugiat, consectetur labore iusto nemo quo perferendis quas illum! Animi dolore velit consectetur? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia obcaecati at voluptate eligendi reprehenderit eveniet vero, impedit, fugiat, consectetur labore iusto nemo quo perferendis quas illum! Animi dolore velit consectetur?</p>
</div>
<input type="text" [value]="person.name" (keyup)="onInputKeyUp($event)">
<hr>

<h1>Propiedades</h1>
<button [disabled]="buttonDisable">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" alt="image" width="200">
<hr>

<h1>Hola mundo</h1>
<h2>{{ 'Hola Mundo '.repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ person.name }}, tengo {{ person.age }} años. Mucho gusto</h3>
<img src={{person.avatar}} alt="image">
